@model Model.Repository


    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h3>Details</h3>
            <hr />
        </div>
        
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />

            <br />
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" disabled />

            <br />
            <label asp-for="Owner"></label>
            <input asp-for="Owner" class="form-control" disabled />

            <br />
            
            <a asp-action="Index" asp-controller="RepoInfo" class="btn btn-primary" style="width:150px;">
                Back to list
            </a>
        </div>

    </div>

